:root {
	--Red: hsl(1, 90%, 64%);
	--Blue: hsl(219, 85%, 26%);
	--very-light-grayish-blue: hsl(210, 60%, 98%);
	--light-grayish-blue-1: hsl(211, 68%, 94%);
	--light-grayish-blue-2: hsl(205, 33%, 90%);
	--grayish-blue: hsl(219, 14%, 63%);
	--dark-grayish-blue: hsl(219, 12%, 42%);
	--very-dark-blue: hsl(224, 21%, 14%);
}
.active {
	background: var(--very-light-grayish-blue);
}

@media screen and (min-width: 1440px) {
	.font-bold {
		transition: all 100ms ease-in;
	}
	.font-bold:hover {
		cursor: pointer;
		color: var(--Blue);
	}
	.chess:hover {
		box-shadow: 0px 0px 9px 4px rgba(229, 239, 250, 1);
		-webkit-box-shadow: 0px 0px 9px 4px rgba(229, 239, 250, 1);
		-moz-box-shadow: 0px 0px 9px 4px rgba(229, 239, 250, 1);
	}

	.rounded-xl:hover {
		cursor: pointer;
	}
}
